<div ng-controller='BucketController'>
    <div style="margin-left:300px">
        <h4>New Appointments</h4>
        <form name='appt'>
            Date: <input type="text" placeholder="Oct/7/2014" ng-model='new.date'>
            Time:
                <select class='browser-default' ng-model='new.time'>
                    <option value='' selected disabled>time</option>
                    <option>8am</option>
                    <option>9am</option>
                    <option>10am</option>
                    <option>11am</option>
                    <option>12am</option>
                    <option>1pm</option>
                    <option>2pm</option>
                    <option>3pm</option>
                    <option>4pm</option>
                    <option>5pm</option>
                </select>
            <br><br>
            Complain: <textarea rows='4' name='text' ng-minlength='10' ng-model='new.text' required></textarea><br>
            <p ng-show="appt.text.$error.minlength" style="color:red">Complain is too short.</p>
            <p ng-show="appt.text.$error.required" style="color:red">Complain is required</p>

            <input type="submit" value="Cancel">
            <input type='submit' style="margin-left:10px; margin-top:10px; background-color:blue; color:white" value='Add Appointment' ng-click='create()'>
        </form>


    </div>
</div>
