<div ng-controller='CustomerController'>
    <h1 style="text-decoration:underline">Add a new customer</h1>
    <form name='customerform' ng-submit='create()'>
        <div ng-show=isDuplicate()>Name duplicated</div>
        Customer Name: <input type='text' ng-model='newCust.name' ng-minlength='2', ng-maxlength='20' required>
        <input type='submit' style='background-color:blue; color:white' value='Add' ng-disabled='customerform.name.$invalid' name="custadd">
    </form>

    <input type="text" style="margin-left:1000px" placeholder="search name..."ng-model="filter_name">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Created Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers | filter:filter_name">
                <td>{{customer.name}}</td>
                <td>{{customer.created_at| date: 'MMMM dd, yyyy'}}</td>
                <td><button style="background-color:red; color:white" ng-click="deleteCustomer(customer)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>
