<div ng-controller='DashboardController'>
    <div style="display:inline-block;  vertical-align:top">
        <input type="text" placeholder="search..." ng-model=filter_name><br>
        <!-- how to make it filter ON CLICK? -->
        <button>Filter</button>
    </div>
    <div style="display:inline-block;  vertical-align:top">
        <div style="width:600px">
            <div style="margin-left:30px; border: 3px solid black; width:100px; height:100px; display:inline-block;  vertical-align:top;" ng-repeat='product in products| filter:filter_name|limitTo:10'>
                <img style="width:95px; height:95px" ng-src='./static/images/{{product.img}}' style="width:100;height:65"><br>
                {{product.name}}<br>
                ({{product.qty}} left)
            </div>
            <br><br><br><a href="#/partials2">show more...</a>
        </div>

        <div style="margin-top:100px">
            <p style="text-decoration:underline">Recent Orders</p>
            <p ng-repeat='order in orders | filter:filetr_name |limitTo:3'>{{order._name.name}} purchased {{order.qty}} {{order._product.name}}...({{order.created_at| date: 'MMMM dd, yyyy'}} ago)</p>
            <a href="#/partials3">show all orders...</a>
        </div>

        <div style="margin-top:100px">
            <p style="text-decoration:underline">New Customers</p>
            <p ng-repeat='recent in recents | filter:filetr_name |limitTo:3'>{{recent.name}} joined the store({{recent.created_at| date: 'MMMM dd, yyyy'}} ago)</p>
            <a href="#/partials4">show all customers...</a>
        </div>
    </div>
</div>
